@import url('https://fonts.googleapis.com/css2?family=montserrat&display=swap');
@import "tailwindcss";



@layer base {
  html {
    font-family: var(--font-sans);
    font-size: medium;
  }
  body, html {
    margin: 0;
    padding: 0;
  }
}
