@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=montserrat&display=swap');

@theme {
  --font-sans: 'Montserrat', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
    font-size: small;
  }
  body, html {
    margin: 0;
    padding: 0;
  }
}
